.button-and-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 4rem;
  top: 0;
  left: 0;
  width: 25%;
  height: auto;
  z-index: 3;
}

@media only screen and (min-width: 1000px) {
  .button-and-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 4rem;
  top: 0;
  left: 0;
  width: 15%;
  height: auto;
  z-index: 3;
  }
}
@media only screen and (min-width: 1500px) {
  .button-and-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 4rem;
  top: 0;
  left: 0;
  width: 10%;
  height: auto;
  z-index: 3;
  }
}
.sidebar-button-container {
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;

}
.black-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
}
.hamburger {
  position: relative;
  z-index: 3;
  display: flex;
  height: 100%;
  width: 100%;
}
.hamburger-icon {
  font-size: 47px;
  margin-top: 1.5rem;
}
.sidebar-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.sidebar-container {
  height: 100%;
  width: auto;
}

.hamburger-vertical {
  font-size: 18px;
  background: transparent;
  border-style: none;
  align-self: flex-end;
  margin-right: 1em;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.sidebar-buttons {
  text-decoration: none;
  color: white;
  background: none;
  border-style: none;
  font-size: 18px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: auto;
}
.sidebar-buttons:hover {
  color: rgb(241, 137, 153);
  cursor: pointer;
}