.sidebar-button-container {
  position: fixed;
  display: block;
  margin-top: 0.5em;
  margin-right: 0.5em;
  z-index: 3;
  top: 0;
  right: 0;
  height: auto;
  width: auto;
}

.hamburger {
  margin-right: 0.5em;
  right: 0;
}
.hamburger-icon {
  font-size: 3em;
}
.sidebar-wrapper {
  position: fixed;
  background-color: #FFFDD0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  top: 0;
  right: 0;
}

@media screen and (min-width: 550px) {
  .sidebar-wrapper {
  position: absolute;
  right: 0;
  margin-left: auto;
  background-color: rgba(255, 192, 203, 0.75);
  height: 100vh;
  width: 30vw;
  z-index: 2;
  overflow: hidden;
  }
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
}
.hamburger-vertical {
  font-size: 32px;
  background: transparent;
  border-style: none;
  align-self: flex-end;
  margin-top: 1em;
  margin-right: 1em;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 5%;
}
.sidebar-buttons {
  text-decoration: none;
  color: black;
  background: none;
  border-style: none;
  font-size: 36px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.sidebar-buttons:hover {
  color: rgb(241, 137, 153);
  cursor: pointer;
}