.button-and-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 4rem;
  top: 0;
  left: 0;
  width: 25%;
  height: auto;
  z-index: 3;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
/* .sidebar-button-container {
  position: fixed;
  display: block;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
} */
.sidebar-button-container {
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;

}
.black-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 10px;
}
.hamburger {
  position: relative;
  z-index: 3;
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
}
.hamburger-icon {
  font-size: 47px;
  /* color: black; */
  margin-left: 0.5em;
  margin-top: 1.5rem;
}
.sidebar-wrapper {
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.5); */
  height: auto;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/* @media screen and (min-width: 550px) {
  .sidebar-wrapper {
  position: absolute;
  right: 0;
  margin-left: auto;
  background-color: #FFFDD0;
  height: 100vh;
  width: 30vw;
  z-index: 2;
  overflow: hidden;
  }
} */
.sidebar-container {
  height: 100%;
  width: auto;
}

.hamburger-vertical {
  font-size: 18px;
  background: transparent;
  border-style: none;
  align-self: flex-end;
  margin-right: 1em;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.75em;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  /* margin-left: 3.5em; */
}

.sidebar-buttons {
  text-decoration: none;
  color: white;
  background: none;
  border-style: none;
  font-size: 18px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: auto;
}
.sidebar-buttons:hover {
  color: rgb(241, 137, 153);
  cursor: pointer;
}