.registry-wrapper {
  margin: 0;
  margin-bottom: 2em;
}
.inner-wrapper-registry {
  position: relative;
  z-index: 2;
  border: black solid 2px;
  border-top: none;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 4em;
}
.inner-wrapper-registry::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: black;
  width: 80%;
  left: 10%;
}
.all-store-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.registry-img {
  border-style: none;
  width: 75%;
}
.button-container {
  background: transparent;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  cursor: pointer;
}
.registry-button {
  border-style: none;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  width: 100%;
  height: 4em;
}

.flower-border-registry {
  position: absolute;
  width: 100%;
  bottom: -6rem;
  overflow: hidden;
}
/* .registry-button h2 {
  margin: 0;
} */
/* .store-container {
  margin-top: 1em;
  position: relative;
  
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-bottom: 4em;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-radius: 5%;
} */
/* .store-container h3 {
  color: black;
  margin-left: 0.5em;
  margin-bottom: 20%;
  font-size: 1em;
} */

/* .style-container1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 89%;
  width: 24.5%;
  border-bottom: black solid 2px;
  border-top-left-radius: 10%;
  border-left: black solid 2px;
} */
/* .style-container2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 89%;
  width: 24.5%;
  border-bottom: black solid 2px;
  border-top-right-radius: 10%;
  border-right: black solid 2px;
} */
