.wedding-party-wrapper {
  align-items: center;
  text-align: center;
}
.wedding-party-header {
  font-family: 'Bitter', serif;
  margin-bottom: 1em;
  margin-top: 1em;
}
.wedding-party h2 {
  margin-bottom: 1em;
  font-family: 'Crimson Text', serif;
  opacity: 0.5;
  font-size: 20px;
}
.wedding-party h1 {
  font-family: 'Bitter', serif;
  font-size: 24px;
  margin: 0;
}