.form-editable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}
.form-editable-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}

.form-editable-input {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  width: 80%;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: white solid 1px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  }

.form-editable-button {
  position: relative;
  right: 0;
  color: white;
  border-style: none;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  border: white solid 1px;
  border-radius: 20px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  }

  .form-checkmark {
    font-size: 1.5rem;
  }