.edit-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}
.edit-form {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
}
.edit-form input {
  padding-left: 1em;
  font-size: 16px;
  
}
.edit-form-input {
  background: rgba(0, 0, 0, 0.6);
  border: none;
  height: 5em;
  width: 80%;
  margin-bottom: 0.75em;
  border: white solid 1px;
  color: rgba(255, 255, 255, 0.9);
  }

.edit-form-button {
  color: white;
  margin-top: 1em;
  border-style: none;
  height: 4em;
  width: 10em;
  margin-bottom: 2em;
  background: rgba(0, 0, 0, 0.4);
  border: white solid 2px;
  border-radius: 5%;
  }
