.home-wrapper {
  visibility: visible;
  position: relative;
  padding: 0px;
  overflow-y: scroll;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0;
  display: block;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.inner {
  background-color: rgba(78, 76, 76, 0.3);
  overflow-x: hidden;
   
}

.header-banner-bg {
  width: 100%;
  opacity: 0;
}

.hawaii-border {
  order: 2;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 60%;
  margin-top: auto;
  margin-bottom: -0.1em;
  max-height: 70%;
  transform: rotateY(180deg);
}
.section-container {
  order: 2;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
 
}
.left-body {
  font-size: 16px;
}

.primary-header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  font-family: 'Bitter', serif;
  color: rgb(47, 41, 41);
  font-size: 1.5em;
  text-align: center;
}

.primary-header h1, h2 {
  margin: 0;
  padding: 0;
}

.primary-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  font-family: 'Crimson Text', serif;
  color: rgb(47, 41, 41);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: center;
}
.primary-body h1 {
  font-size: 1.5em;
}
.primary-body h2 {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 7px;
  white-space: pre-line;
}