/* 
.sticky {
  position: fixed;
  width: 20vw;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
} */
.home-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 95vh;
  min-height: 95vh;
  min-width: 100vw;
  overflow: hidden;
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}

.section-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.left-body {
  font-size: 16px;
}
.section-container img {
  top: 0;
  left: 0;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  object-fit: contain;
  border: white solid 1px;
}

.primary-header {
  left: 0;
  width: 95%;
  height: auto;
  padding-top: 3em;
  padding-bottom: 2em;
  margin-bottom: 0;
  font-family: mv boli;
  color: rgb(47, 41, 41);
  font-size: 16px;
  text-align: center;
}

.primary-header h1, h2 {
  margin: 0;
  padding: 0;
}

.primary-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: rgb(47, 41, 41);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
 
}

.primary-body h2 {
  font-size: 20px;
  padding: 0.5em;
  border-radius: 7px;
  white-space: pre-line;
}