.main-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrapper {
  height: auto;
  width: 100vw;
  overflow-y: auto;
  background-color: pink;
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
}
.home-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.home-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-container {
  position: relative;
  width: auto;
  min-height: 100vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.section-no-image {
  position: relative;
  width: 95%;
  min-height: 97.75vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white solid 2px;
  background-color: rgba(0, 0, 0, 0.25);
}
.primary-header {
  position: relative;
  left: 0;
  width: 95%;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 0;
  font-family: mv boli;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  text-align: center;
}

.primary-header h1, h2 {
  margin: 0;
  padding: 0;
}

.primary-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: rgba(255, 255, 255, 1);
  overflow: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.primary-body h2 {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 1em;
  font-size: 20px;
  padding: 0.5em;
  border-radius: 7px;
}