
.gallery-wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: pink;
}

.close-expanded-button {
  position: absolute;
  z-index: 3;
  border-style: none;
  background-color: transparent;
  height: 2em;
  width: 2em;
  margin-top: 1em;
  margin-left: 2em;
}
.close-expanded-icon {
  font-size: 40px;
  color: rgba(39, 36, 36, 0.8);
}
.primary-container {
  height: 75vh;
  max-height: 75vh;
  width: 100vw;
  position: relative;
  border-radius: 5px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  /* border: white solid 2px; */
}
.primary-product-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
@media screen and (min-width: 550px) {
  .primary-container {
    height: 75vh;
    max-height: 75vh;
    width: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .primary-product-image {
    position: absolute;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
  }
  .product-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: overlay;
  height: 20vh;
  width: auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  bottom: 0;
  /* border: white solid 2px; */
}
}

.product-gallery {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 20vh;
  width: 100vw;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  bottom: 0;
  /* border: white solid 2px; */
}

.related-product-image {
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
}
