.gallery-images-background {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}
.music-player-container {
  height: 100%;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: pink;
}
.outer-player-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding-top: 1em;
  margin-right: 3em;
}

.music-player-container h1 {
  font-size: 32px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.music-player-container h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
}


.gallery-image-spacing {
  height: 60vh;
  width: 100%;
  margin-bottom: 0em;
  display: flex;
  
  align-items: center;
  
}
.gallery-images {
  position: absolute;
  max-height: 60vh;
  border: white solid 2px;
  max-width: 85vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  
}

.gallery-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.gallery-slider {
  padding:0;
  margin-left: 12%;
  max-width: 75%;
  
  background-color: white;
  height: 5px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 5%;
  cursor: pointer;
  -webkit-appearance: none;
  opacity: 0.99;
}
.fake-progress-bar {
  position: absolute;
  padding:0;
  margin-left: 12%;
  width: 75%;
  background-color: black;
  height: 5px;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10%;
  cursor: pointer;
  -webkit-appearance: none;
  opacity: 0.5;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.gallery-navigation-buttons {
  border-style: none;
  background-color: transparent;
  margin-top: 3em;
}
.previous-button {
  font-size: 65px;
  color: black;
  
}
.next-button {
  font-size: 65px;
  color: black;
}
.playPause {
  background-color: rgba(0, 0, 0, 0.45);
}
.play-button {
  font-size: 55px;
  color: white;
  border-radius: 50%;
  padding-left: 7px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.shuffle-button {
  font-size: 40px;
  color: black;
}
.repeat-button {
  font-size: 40px;
  color: black;
}
.pause-button {
  font-size: 55px;
  color: white;
  border-radius: 50%;
  padding-left: 3.5px;
  padding-right: 3.5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.gallery-queue-icon {
  font-size: 32px;
  color: black;
  margin-bottom: 0.25em;
}