.hamburger-horizontal {
  font-size: 32px;
  align-self: center;
  background: transparent;
  border-style: none;
  z-index: 3;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1;
  padding: 1;
}
.hamburger-vertical {
  font-size: 32px;
  background: transparent;
  border-style: none;
  align-self: flex-end;
  margin-top: 1em;
  margin-right: 1em;
}
.sidebar-wrapper {
  position: absolute;
  background-color: pink;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  top: 0;
}
.sidebar-container ul {
  list-style: none;
}
.sidebar-buttons {
  background: none;
  border-style: none;
  font-size: 36px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.sidebar-buttons:hover {
  color: rgb(241, 137, 153);
  cursor: pointer;
}