.edit-travel-wrapper {
  position: relative;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0;
  display: block;
}
.inner-wrapper-edit-travel {
  position: relative;
  margin-top: 5em;
  border: black solid 2px;
  border-bottom: none;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.palm-tree-cow {
  position: relative;
  order: 2;
  left: 0;
  bottom: 0;
  margin-top: auto;
  width: 30%;
}

.edit-flower-border {
  position: absolute;
  left: 1rem;
  margin-top: 1em;
  /* margin-top: 0.5em; */
  height: 25%;
  z-index: 1;
  transform: rotate(45deg);
  overflow: hidden;
}

.resort-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.resort {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 1em;
  border: white solid 3px;
}

.resort-header h1 {
  font-size: 20px;
  font-size: 5vw;
}
.resort-btn {
  border-style: none;
  background: none;
  margin-top: 0.75em;
  margin-bottom: 1em;
  border: rgba(255, 255, 255, 0.75) solid 3px;
  border-left: none;
  border-right: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.resort-link {
  text-decoration: none;
  font-size: 20px;
  font-size: 5vw;
}
.resort-link h1 {
  text-decoration: none;
  font-size: 20px;
  font-size: 5vw;
}

.down-arrow-editing {
  font-size: 2em;
}
