.edit-travel-wrapper {
  position: relative;
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0;
  display: block;
}
.inner-wrapper-edit-travel {
  position: relative;
  margin-top: 6em;
  border: black solid 2px;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  text-align: center;
}

.edit-flower-border {
  position: absolute;
  left: 1rem;
  top: -5%;
  /* margin-top: 0.5em; */
  height: 25%;
  z-index: 1;
  transform: rotate(45deg);
  overflow: hidden;
}

.resort-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.resort {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 1em;
  border: white solid 3px;
  max-width: 75vw;
}

.resort-header h1 {
  font-size: 20px;
  width: 80%;
  text-align: center;
}
.resort-btn {
  border-style: none;
  background: none;
  margin-top: 0.75em;
  margin-bottom: 1em;
  border: rgba(255, 255, 255, 0.75) solid 3px;
  border-left: none;
  border-right: none;
}
.resort-link {
  text-decoration: none;
  font-size: 20px;
}
.resort-link h1 {
  text-decoration: none;
  font-size: 20px;
}

.down-arrow-editing {
  font-size: 2em;
}
