.travel-wrapper {
  /* background-image: url("../images/hawaii-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain; */
  /* background-color: #ffffff; */

}
.inner-wrapper-travel {
  position: relative;
  margin-top: 2em;
  border: black solid 2px;
  border-bottom: none;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.palm-tree-cow {
  position: relative;
  order: 2;
  left: 0;
  bottom: 0;
  margin-top: auto;
  width: 30%;
}

.flower-border {
  position: absolute;
  left: 1rem;
  margin-top: -3rem;
  /* margin-top: 0.5em; */
  height: 25%;
  z-index: 1;
  transform: rotate(45deg);
  overflow: hidden;
}