.travel-wrapper {
  /* background-image: url("../images/hawaii-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain; */
  /* background-color: #ffffff; */

}
.inner-wrapper-travel {
  position: relative;
  margin-top: 2em;
  padding-top: 3em;
  border: black solid 2px;
  border-bottom: none;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.palm-tree-cow {
  position: relative;
  order: 2;
  left: 0;
  bottom: 0;
  width: auto;
  max-width: 25%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.sheraton-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.sheraton {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 1em;
  border: white solid 3px;
}

.sheraton-container h1 {
  font-size: 1em;
}
.sheraton-btn {
  border-style: none;
  background: none;
  margin-top: 0.75em;
  margin-bottom: 1em;
  border: rgba(255, 255, 255, 0.75) solid 3px;
  border-left: none;
  border-right: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.sheraton-link {
  text-decoration: none;
  font-size: 1.5em;

}