.main-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portal-wrapper {
  background-image: url("https://phanes.feralhosting.com/hkscfreak/Shirley-and-Clifford-Wedding/compressed-images-shirley/Shirley_Clifford_Proposal-15.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  overflow-y: auto;
  justify-content: flex-start;
}
.login-header {
  position: relative;
  margin-bottom: 5%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  font-size: 36px;
  font-weight: bold;
}
.login-wrapper {
  height: 40%;
  margin-top: auto;
}
.credential-greeting {
  position: relative;
  margin-top: 0;
  margin-bottom: auto;
  width: 100%;
  font-size: 20px;
  text-align: center;
  width: 90%;
  padding: 0.3em;
  margin-left: auto;
  margin-right: auto;
}

.credentials-container {
  margin-top: auto;
}
.admin-label {
  margin-right: auto;
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 1em;
  color: black;
  font-weight: bold;
}
.auth-form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.auth-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: none;
  border-bottom: black solid 2px;
  width: 100%;
  height: 20%;
}

.form-login-btn {
  border-radius: 15px;
  background-color: rgb(255, 123, 0);
  border: black solid 1px;
  font-size: 24px;
  color: white;
  width: 100%;
  height: 6vh;
  font-weight: bold;
  margin-bottom: 4%;
  margin-top: 10%;
}


.admin-panel-container {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
}
.logged-in-credentials-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  padding-bottom: 2em;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.5) solid 1px;
}
.logged-in-credentials-container h4 {
  color: white;
}

.edit-sections-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 100%;
}