@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Julius+Sans+One&family=Open+Sans:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  display: block;
  max-width: 100%!important;
  max-height: 100%!important;
}
body {
  height: 100%;
  width: 100%;
  display: block;
  background-color: #FFFDD0;
  padding: 0;
  margin: 0;

}
.app {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}
