@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Julius+Sans+One&family=Open+Sans:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  display: block;
  max-width: 100%!important;
}
body {
  height: 100%;
  display: block;
  background-color: #faf9f6;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.app {
  display: block;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  height: auto;
  width: 100%;
}
/* .main-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* CANVAS EXPERIMENTATION */
