@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Julius+Sans+One&family=Open+Sans:wght@400;700&display=swap");

body {
  max-width: 100vw;
  height: 100vh;
  background-color: #faf9f6;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: env(safe-area-inset-bottom);
}

/* .main-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* CANVAS EXPERIMENTATION */
