.faq-wrapper {
  /* background-image: url("../images/hawaii-border.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FFFDD0; */
}

.inner-wrapper-faq {
  position: relative;
  border: black solid 2px;
  border-bottom: none;
  border-top: none;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

.inner-wrapper-faq::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: black;
  width: 80%;
  left: 10%;
}

.surfing-cow {
  position: relative;
  order: 2;
  right: 0;
  bottom: 0;
  width: auto;
  max-width: 25%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.faq-body h2 {
  width: 70%;
}